:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  font-variant-numeric: tabular-nums;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
figure,
figcaption,
pre,
code,
hr {
  padding: 0;
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 21px;
  font-weight: 600;
}

h2 {
  font-size: 16px;
  font-weight: 600;
}

h3 {
  font-size: 14px;
  font-weight: 600;
}

h4 {
  font-size: 12px;
  font-weight: 600;
}

h5 {
  font-size: 10px;
  font-weight: 600;
}

ul,
ol {
  list-style: none;
}

img {
  height: auto;
  display: inline-block;
}

* {
  box-sizing: border-box;
}
